@use '../abstracts/' as *;

.header {   
    background: pink;
    position: sticky;
    top: 0;
    z-index: 999;

    &-inner {
      
    }

    &-nav {
        position: absolute;
        top: 100%;
        @include breakpoint(tablet) {
            position: relative;
        }
    }

    &-navmenu {
        @include breakpoint(tablet) {
            @include flex-center(var(--size-4));
        }

        // GLOBAL NAV LINK
        a {
            @include flex-center();
            justify-content: space-between;
        }

        // FIRST NAV LINK
        > li > a {

            @include breakpoint(tablet) {
                gap: var(--size-1);
                padding-block: var(--size-4);
                padding-inline: var(--size-1);
            }
        }

        // FIRST NAV ITEM
        > li,
        // SECONd NAV ITEM 
        > li li {
            
            @include breakpoint(tablet) {
                position: relative;
            }
        }
        
        // GLOBAL NAV MENU & SUBMENU
        ul {    
            position: absolute;
            opacity: 0;
            pointer-events: none;
            transition: transform 300ms ease;
        }

        // FIRST SUBMENU
        > li > a + ul {
            background: rosybrown;
            top: 0;
            left: 100%;
            transform: translateX(-10%);
            
            @include breakpoint(tablet) {
                top: 100%;
                left: 0;
                transform: translateY(10%);
            }
        }

        li:hover > a + ul {
            opacity: 1;
            pointer-events: auto;
            transform: translate(0);
        }

        // SECOND SUBMENU
        > li *> a + ul {
            background: royalblue;
            top: 0;
            left: 100%;
            transform: translateX(-10%);

            @include breakpoint(tablet) {
                transform: translateY(10%);
            }
        }

        > li *:hover> a + ul {
            transform: translate(0);
        }


        > li li *> a + ul {
            background: green;
        }
    }


}