@use '../abstracts/' as *;
@use '../utils/' as *;

:root {
    --hero-nav-item-per-view: 7;
}
.hero {
    &-container {
        position: relative;
        overflow: hidden;   
    }

    &-slider {
        @include grid-auto-columns();
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
    &-slider.disable-slider {
        scroll-behavior: auto;
    }

    &-slider > a {
        scroll-snap-align: start;
    }

    &-slider > a > img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    &-button { 
        color: white !important;
        backdrop-filter: blur(20px);
        @extend .grid-center;
        text-decoration: none;
        transition: background 1s ease;
    }

    &-button:hover {
        background: rgba(white, .5);
    }

    &-nav {
        background: rgba(black, .1);
        backdrop-filter: blur(20px);

        position: absolute;
        top: 100%;
        @include grid-auto-columns();
        grid-auto-columns: 12% 76% 12%;
        width: 100%;

        @include breakpoint(tablet) {
            grid-auto-columns: 7% 86% 7%;
        }
    }

    &-navmenu {
        @include flex-center(var(--size-2));
        padding-block: var(--size-4);

        @include breakpoint(tablet) {
            @include grid-auto-columns(1fr);
            padding-block: 0;
            gap: 0;
        }
    }

    &-navmenu.disable-slider  {
        scroll-behavior: auto;
    }

    &-navmenu > a { 
        background: rgba(gray, .2);
        backdrop-filter: blur(20px);
        color: transparent;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;

        scroll-snap-align: start;
        transition: background 1s ease, width 300ms ease;

        padding: 0;
        @include square(10px);
        @include round();
        @include shadow-bottom();

        @include breakpoint(tablet) {
            color: gray ;
            padding: var(--size-3);
            @include square(auto);
            @include round-0();
            box-shadow: none;
        }
    }

    &-navmenu > a:not(:last-of-type) {
        border-right: 2px solid transparent;
    }

    &-navmenu > a.active,
    &-navmenu > a:hover {
        background: rgba(white, .4);

        @include breakpoint(tablet) {
            color: black;
        }
    }

    &-navmenu > a.active {
        width: 20px;
        border-radius: 10px;
        overflow: visible;
        
        @include breakpoint(tablet) {
            width: auto;
            border-radius: 0;
        }
    }
}



