@use '../abstracts/' as *;
@use '../utils/' as *;

:root {
    --carousel-nav-item-per-view: 4;
}
.carousel {
    &-container {
        background: transparent;
        backdrop-filter: blur(43px);
        position: relative;
        width: 100%;
        overflow: hidden;
        @extend .border-radius-6;
    }

    &-hero {
        position: relative;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc(100% / 1);
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;

        &.transition-disabled {
            scroll-behavior: auto;
        }

        a {
            scroll-snap-align: start;
        }

        a > img {
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &-button  {
        background: rgba(white, .3);
        backdrop-filter: blur(43px);
        border: .5px solid rgba(white, .3);
        position: absolute;
        top: 45%;
        @extend .logo;
        @extend .border-radius-6;
        text-decoration: none;
        transition: background 1.5s ease;

        &:last-of-type {
            right: 0;
        }

        &:hover {
            background: rgba(white, .6);
        }
    }

    &-nav {
        position: absolute; 
        width: 100%;
        bottom: 10%;
    }

    &-navmenu {
        position: relative;
        @extend .carousel-hero;
        grid-auto-columns: calc(100% / var(--carousel-nav-item-per-view));
                
        a { 
            background: transparent;
            backdrop-filter: blur(43px);
            text-decoration: none;
            white-space: nowrap; 
            padding: var(--size-2);            

            &:not(:last-of-type) {
                border-right: 1px solid orange;
            }

            &.active {
                background: rgba(white, .5);
                border: .5px solid rgba(white, .3);
            }   
        }
    }
}



