@use '../abstracts/' as *;
@use '../utils/' as *;

:root {
    --hero-nav-item-per-view: 7;
}
.hero {
    &-container {
        position: relative;
        overflow: hidden;   
    }

    &-slider {
        @include grid-auto-columns();
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
    &-slider.disable-slider {
        scroll-behavior: auto;
    }

    &-slider > a {
        text-decoration: none;
        scroll-snap-align: start;
    }

    &-slider > a > img {
        height: 70vh;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    &-button { 
        color: white;
        background: rgba(white, .3);
        backdrop-filter: blur(20px);
        text-decoration: none;
        @extend .grid-center;
        transition: background 1s ease;
    }

    &-button:hover {
        background: rgba(white, .5);
    }

    &-nav {
        position: absolute;
        bottom: 0;
        @include grid-auto-columns();
        grid-auto-columns: 7% 86% 7%;
        width: 100%;
    }

    &-navmenu {
        @include grid-auto-columns();
        grid-auto-columns: calc(100% / var(--hero-nav-item-per-view));
    }

    &-navmenu.disable-slider  {
        scroll-behavior: auto;
    }

    &-navmenu > a { 
        background: rgba(gray, .2);
        backdrop-filter: blur(20px);
        color: gray ;

        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        text-decoration: none;

        padding: var(--size-3);
        scroll-snap-align: start;
        transition: background 1s ease;
        
    }

    &-navmenu > a:not(:last-of-type) {
        border-right: 2px solid transparent;
    }

    &-navmenu > a.active,
    &-navmenu > a:hover {
        color: black;
        background: rgba(white, .4);
    }
}



