@use '../abstracts/' as *;
@use '../base/' as *;

@each $prop, $data in $font-props {
    @if $prop == "family" {
        @each $key, $value in $data {
            .ff-#{$key} {
                font-family: #{$value};
            }
        }
    }

    @if $prop == "weight" {
        @each $key, $value in $data {
            .fw-#{$key} {
                font-weight: #{$value};
            }
        }
    }
}

.text-center {
    text-align: center;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-nowrap {
    white-space: nowrap;
}

.heading-1 {
    @extend h1;
}

.heading-2 {
    @extend h2;
}

.heading-3 {
    @extend h3;
}

.heading-4 {
    @extend h4;
}