@use 'breakpoints' as *;

@mixin breakpoint($key) {
    $screen-size: map-get($breakpoints, $key);
    @media screen and (min-width: $screen-size) {
       @content;
    }
}

@mixin flex($gap: 0) {
    display: flex;
    gap: $gap;
    @content;
}

@mixin square($w,$h){
    width: $w;
    height: $h;
}

