---
import '../scss/mystyle.scss';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<title>Astro</title>
	</head>
	<body>
		<header class="header">
			<div class="shadow-bottom-sm">
				<div class="wrapper" data-variant="">
					<div class="header-inner">	
						<div class="logo round">
							<img src="/assets/images/logo-1.png" draggable="false" alt="">
						</div>
						<div class="header-inner__toggle">
							<i class="bx bx-x"></i>
							<i class="bx bx-menu"></i>
						</div>
						<nav class="nav">
							<ul class="nav-menu | ff-nav" role="list">
								<li class="nav-list"><a href="#" class="nav-link">Home</a></li>
								<li class="nav-list"><a href="#" class="nav-link">About me</a></li>
								<li class="nav-list"><a href="#" class="nav-link">Portfolio</a></li>
								<li class="nav-list"><a href="#" class="nav-link">Services</a></li>
								<li class="nav-list"><a href="#" class="nav-link">Contact</a></li>
							</ul>
						</nav>
					</div><!-- header-inner -->
				</div><!-- wrapper -->
			</div><!-- shadow -->
		</header>
		<main>
			<div class="wrapper" data-variant="full-bleed">
				<div class="hero-containerx">
					<ul class="hero-slider" role="list">
						<a href="javascript:void(0);">
							<img class="" src="https://myhanabishi.com/cdn/shop/files/LovetoShopBanner.jpg?v=1706239103&width=1512" draggable="false" alt="">
						</a>
						<a href="javascript:void(0);">
							<img class="" src="https://myhanabishi.com/cdn/shop/files/Website-Size_6.jpg?v=1707292623&width=1512" draggable="false" alt="">
						</a>
						<a href="javascript:void(0);">
							<img class="" src="https://myhanabishi.com/cdn/shop/files/Website-Banner.jpg?v=1706751782&width=1512" draggable="false" alt="">
						</a>
						<a href="javascript:void(0);">
							<img class="" src="https://myhanabishi.com/cdn/shop/files/Website_PC_Size_1.jpg?v=1702533788&width=1512" draggable="false" alt="">
						</a>
						<a href="javascript:void(0);">
							<img class="" src="https://myhanabishi.com/cdn/shop/files/LovetoShopBanner.jpg?v=1706239103&width=1512" draggable="false" alt="">
						</a>
						<a href="javascript:void(0);">
							<img class="" src="https://myhanabishi.com/cdn/shop/files/Website-Size_6.jpg?v=1707292623&width=1512" draggable="false" alt="">
						</a>
						<a href="javascript:void(0);">
							<img class="" src="https://myhanabishi.com/cdn/shop/files/Website-Banner.jpg?v=1706751782&width=1512" draggable="false" alt="">
						</a>
					</ul>
					<nav class="hero-nav">
						<a href="javascript:void(0);" class="hero-button" id="prev">
							<i class="bx bx-chevron-left"></i>
						</a>
						<ul class="hero-navmenu | ff-nav" role="list">
							<a class="active" href="javascript:void(0);">Felt Saint Grandice</a>
							<a href="javascript:void(0);">Item 2</a>
							<a href="javascript:void(0);">Item 3</a>
							<a href="javascript:void(0);">Item 4</a>
							<a href="javascript:void(0);">Item 5</a>
							<a href="javascript:void(0);">Item 6</a>
							<a href="javascript:void(0);">Item 7</a>
						</ul>
						<a href="javascript:void(0);" class="hero-button" id="next">
							<i class="bx bx-chevron-right"></i>
						</a>
					</nav>
				</div><!-- carousel-container -->
			</div><!-- wrapper -->	
		</main>
			<!-- <section class="section | margin-top-large">
				<div class="wrapper">
					<div class="flex justify-start gap-6">
						<h1 class="heading-1">HELLO WORLD</h1>
						<h2 class="heading-2">Hello World</h2>
						<h3 class="heading-3">hello world</h3>
						<h4 class="heading-4">ekubas kibas</h4>	
					</div>
	
					<article>
						<div class="even-columns gap-4">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore laboriosam libero quod nesciunt eos dolorem esse, iusto eum unde modi ut sit sed fugit, repellendus quibusdam in velit blanditiis ad repudiandae, sint accusamus laborum magnam dolorum. Tempora consequatur minima accusamus adipisci, optio excepturi!</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore laboriosam libero quod nesciunt eos dolorem esse, iusto eum unde modi ut sit sed fugit, repellendus quibusdam in velit blanditiis ad repudiandae, sint accusamus laborum magnam dolorum. Tempora consequatur minima accusamus adipisci, optio excepturi!</p>
						</div>
					</article>
				</div>
			</section>
	
			<section class="section | padding-top-large	">
				<div class="wrapper" data-variant="">
					<div class="flow">
						<h1 class="heading-1">HELLO WORLD</h1>
						<h2 class="heading-2">Hello World</h2>
						<h3 class="heading-3">hello world</h3>
						<h4 class="heading-4">ekubas kibas</h4>	
					</div>
	
					<article>
						<div class="even-columns">
							<p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore laboriosam libero quod nesciunt eos dolorem esse, iusto eum unde modi ut sit sed fugit, repellendus quibusdam in velit blanditiis ad repudiandae, sint accusamus laborum magnam dolorum. Tempora consequatur minima accusamus adipisci, optio excepturi!</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore laboriosam libero quod nesciunt eos dolorem esse, iusto eum unde modi ut sit sed fugit, repellendus quibusdam in velit blanditiis ad repudiandae, sint accusamus laborum magnam dolorum. Tempora consequatur minima accusamus adipisci, optio excepturi!</p>
						</div>
					</article>
				</div>
			</section>		 -->
	</body>
	<script src="../src/scripts/hero-slider.js" defer></script>
</html>


